  
  h1 {
    color: teal;
  }
  h2 {
    color:teal;
  }
  h3 {
    color:teal;
  }
  .teal{
    color: teal;
  }
  .customSlide{
    max-width: 200px;
  }
  .grey{
    background-color: darkgray;
  }
